<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910080401209-rivb71bnbkvubavj1gu2hq2v8le73jjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910080401209-rivb71bnbkvubavj1gu2hq2v8le73jjc</string>
	<key>API_KEY</key>
	<string>AIzaSyBuTabhmrwTVLQRG359MXko0mqHciYrhVk</string>
	<key>GCM_SENDER_ID</key>
	<string>910080401209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driLearn</string>
	<key>PROJECT_ID</key>
	<string>drilearn</string>
	<key>STORAGE_BUCKET</key>
	<string>drilearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910080401209:ios:b14749f15620ed7c4112e8</string>
	<key>DATABASE_URL</key>
	<string>https://drilearn-default-rtdb.firebaseio.com</string>
</dict>
</plist>